{% extends "rest_framework/api.html" %}
{% load static %}

{% block bootstrap_theme %}
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/kanslia_bootstrap.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/bootstrap-tweaks.css" %}"/>
{% endblock %}

{% block title %}Infopankki Helsinki API{% endblock %}

{% block branding %}
  <div class='navbar-brand'>
      <a href="https://dev.hel.fi"><img src="{% static "rest_framework/images/hel-dev-logo.svg" %}"></a>
      HKI Infopankki API
  </div>
{% endblock %}
