{% extends "rest_framework/base.html" %}
{% load static %}

{% block bootstrap_theme %}
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/kanslia_bootstrap.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/bootstrap-tweaks.css" %}"/>
{% endblock %}

{% block title %}Infopankki API{% endblock %}

{% block branding %}
  <div class='navbar-brand'>
      <a href="https://dev.hel.fi"><img src="{% static "rest_framework/images/hel-dev-logo.svg" %}"></a>
      Infopankki API
  </div>
{% endblock %}

{% block description %}
    <p>
        Infopankki API provides interface to content of infopankki.fi website
    </p>
    <p>
        <a href="https://dev.hel.fi/apis/infopankki/">API description</a>
    </p>
{% endblock %}
