Django
psycopg2
django-environ
raven
requests
django-model-utils
djangorestframework
django-extensions
lxml
xlsxwriter

coverage
django-coverage-plugin
flake8
django-test-plus
factory_boy
pytest-django
pytest-sugar